<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniComm</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <header>
    <%- include('./nav') %>
  </header>
  <main class="main">
    <div class="main__content">
      <h1 class="main__title">Universities</h1>
      <input type="text" id="search" class="search__input" placeholder="Search for a university...">
      <div class="universities" id="university-list">
        <% universities.forEach(function(university) { %>
          <div class="university" data-name="<%= university.uni_name.toLowerCase() %>" data-url="/university/<%= university.uni_name.replace(/ /g, '_') %>"> 
            <img src="/placeholder.png" alt="<%= university.uni_name %> logo" class="logo_img" data-id="<%= university.uni_id %>">
            <a href="/university/<%= university.uni_name.replace(/ /g, '_') %>" class="university__link"><%= university.uni_name %></a>
          </div>
        <% }); %>
      </div>
    </div>
  </main>

  <script src="/home.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const logoImages = document.querySelectorAll('.logo_img');
      logoImages.forEach(img => {
        const uniId = img.getAttribute('data-id');
        const tempImg = new Image();
        tempImg.src = `/${uniId}.png`; // Assuming the images are in the /uni_logo directory

        // Replace placeholder with actual image once loaded
        tempImg.onload = () => {
          img.src = tempImg.src;
        };
      });

      // Add click event to university divs
      const universityDivs = document.querySelectorAll('.university');
      universityDivs.forEach(div => {
        div.addEventListener('click', function() {
          window.location.href = div.getAttribute('data-url');
        });
      });
    });

    const randomImageNumber = Math.floor(Math.random() * 12) + 1;
    document.body.style.backgroundImage = `url('/${randomImageNumber}.jpg')`;
  </script>
</body>
</html>
