<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>University Details</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/universityDetails.css">
  <style>
    body{
		  background-image: url('/<%= university.uni_id %>.jpg');
	  }
  </style>
</head>
<body>
  <header>
    <%- include('./nav') %>
  </header>

  <main class="main">
    <div class="main__content">
      <img src="" alt="<%= university.uni_name %> logo" class="logo_img" id="logoImage" data-id="<%= university.uni_id %>">
      <h1 class="main__title"><%= university.uni_name %></h1>
      
      <!-- Section for university details -->
      <div class="university-details">
        <!-- Add more university details here -->
      </div>

      <h2>Ask a Question</h2>
		<div class="submit-question">
			<form action="/askQuestion" method="POST">
				<input type="hidden" name="uni_id" value="<%= university.uni_id %>">
				<div class="form-group">
				<textarea oninput="autoResize(this)" class="form-control" name="question_text" rows="1" placeholder="Ask your question here..." maxlength="400" required></textarea>
				</div>
				<hr>
				<button type="submit" class="btn btn-primary">Submit Question</button>
			</form>
		</div>

      <h2>Questions</h2>
      <ul class="questions-list">
        <% if (questions && questions.length) { %>
          <% questions.reverse().forEach(question => { %>
            <li class="question-item">
				<a href="/question/<%= question.question_id %>" class="question-link">
				  <%= question.question_text %> <br> 
				  <% if (question.Answers && question.Answers.length > 0) { %>
					<span class="answer-count">Answers: <%= question.Answers.length %></span>
				  <% } else { %>
					<span class="answer-count">No answers yet</span>
				  <% } %>
				  (Asked on <%= question.created_at.toDateString() %>)
				</a>
			</li>
          <% }) %>
        <% } else { %>
          <li>No questions have been asked yet.</li>
        <% } %>
      </ul>
    </div>
  </main>

  <script src="/home.js"></script>
  
  <script>
    const logoImages = document.querySelector('.logo_img');
    const uniId = logoImages.getAttribute('data-id');
    const universityImage = document.getElementById('logoImage');
    universityImage.src = `/${uniId}.png`;

	function autoResize(textarea) {
    textarea.style.height = 'auto'; // Reset the height to auto
    textarea.style.height = '40px'; // Set initial height to one line

    // Check if the content exceeds one line
    if (textarea.scrollHeight > 40) {
        textarea.style.height = textarea.scrollHeight + 'px'; // Set the height to the scrollHeight
    }
}
  </script>
</body>
</html>
